<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title><%=title%></title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/authors.css" rel="stylesheet">
	</head>
	<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary" style="margin-top: -2cm;">
      <a class="navbar-brand" href="#">
        <img src="/jpg/bg3.jpg" height="30" width="40">
        </a> 
      <a class="navbar-brand" href="#" style=" color:rgb(249, 249, 250); text-decoration:blue; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Central Library</a>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <%for(i=0;i<nav.length;i++){%>
          <li class="nav-item active">
            <a class="nav-link" href="<%=nav[i].link%>" style="font-family:'Times New Roman', Times, serif;"><%=nav[i].name%><span class="sr-only">(current)</span></a>
             </li>
          <%}%>
        </ul>
      </div> 
    </nav>
  </a>
  
</nav>

<div id="masthead">  
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1> Authors
          <p class="lead"></p>
        </h1>
      </div>     
    </div> 
  </div>
  
 
        <div class="container">
            <div class="row">
    
                <div class="col-md-12"> 
                 <div class="panel">
                  <div class="panel-body" style="background-image: url(/jpg/service.png); background-repeat: no-repeat; background-size: cover;">
          <%for(i=0;i<authors.length;i++){%>
          <div class="row">    
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title" href="#"><img alt="" src="/jpg/<%=authors[i].jpg%>" style="width:100px;height:100px" class="img-circle"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3><%=authors[i].authorname%></h3>
              <p><%=authors[i].dob%></p>
              <br>
              <br>
             <div class="row">
                <div class="col-xs-9">
                  <h4><span class="label label-default"></span></h4><h4>
                    <small style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 25px; color: darkgoldenrod;" class="text-muted">
                      <a href="/authors/<%=authors[i]._id%>" class="text-muted">Read More</a></small>
                  </h4></div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div>
          <%}%>
          <hr>
          
          <a href="/" class="btn btn-primary pull-right btnNext">more <i class="glyphicon glyphicon-chevron-right"></i></a>
        
          
        </div>
      </div>
    </div>
  </div>
</div>                                                                                  
	                                                
                                                      
   	
      <script src=""></script>
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>